<html>
    <head>
        <title>Leaderboard WebStacks</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </head>
    <body class="grey lighten-4">
            <nav>
                <div class="nav-wrapper deep-orange lighten-1">
                <a href="/rankBoard" class="brand-logo center">Leaderboard</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/home">Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h3>Registration</h3>
            <form action="/registerUser/" method="POST">{%csrf_token%}
            <div class="row center-align">
            <div class="input-field col s12">
                <input id="firstName" name="firstName" type="text" required>
                <label for="firstName">First Name</label>
              </div>
            <div class="input-field col s12">
                <input id="lastName" name="lastName" type="text" required>
                <label for="lastName">Last Name</label>
            </div>
            <div class="input-field col s12">
                <input id="email" name="email" type="text" required>
                <label for="email">Email ID</label>
            </div>
            <div class="input-field col s12">
                <input id="password" name="password" type="password" pattern=".{6,}" class="validate" required>
                <label for="password">Password</label>
            </div>
            <div class="">
            <label>
                <h6>Sex</h6>
                <input id="sex" name="sex" value="male" type="radio" checked/>
                <span>Male</span>
            </label>
            <label>
                <input id="sex" name="sex" value="female" type="radio" />
                <span>Female</span>
            </label>
            </div>
            <br><br>
            <div class="center-align">
            <button class="btn deep-orange lighten-1 waves-effect waves-light" type="submit" name="action">Register
                <i class="material-icons right">send</i>
            </button>
            </div>
        </div>
        </form>
        </div>
  
</body>
</html>
